
services:
  db:
    image: pgvector/pgvector:0.8.1-pg18-trixie
    environment:
      POSTGRES_DB: clinnexus
      POSTGRES_USER: clinnexus
      POSTGRES_PASSWORD: clinnexus
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

  backend:
    build: ./backend
    environment:
      - APP_ENV=dev
      - APP_HOST=0.0.0.0
      - APP_PORT=8000
      - LOG_LEVEL=info
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=clinnexus
      - DB_USER=clinnexus
      - DB_PASSWORD=clinnexus
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  db_data:


